<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">PLEASE ENTER THE APPROPRIATE INFORMATION FOR THE SELECTED CATEGORY</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <form th:action="@{/ClothesAd/add}" method="POST" enctype="multipart/form-data">
                    <input id="id" type="hidden" name="id" th:value="(${clothesAd} != null ? ${clothesAd.getId()} : '')">

                    <div class="form-group">
                        <label>Category</label>
                        <select name="categoryId" class="form-control">
                            <option th:selected="${category_1.getName()}"
                                    th:value="${category_1.getId()}"
                                    th:text="${category_1.getName()}">
                            </option>
                        </select>
                    </div>

                    <div>
                        <a type="button" class="btn btn-primary" href="/add">Select another category</a>
                        <br><br><br><br></a>
                        <br><br><br><br>
                    </div>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:value="(${clothesAd} != null ? ${clothesAd.getTitle()} : '')"
                               required
                               placeholder="Enter title to ad">
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        <select name="cityId" class="form-control">
                            <option th:if="${clothesAd} != null"
                                    th:selected="${clothesAd.getCity().getName() == City.getName()}"
                                    th:each="City : ${cityList}"
                                    th:value="${City.getName()}"
                                    th:text="${City.getName()}">
                            </option>
                            <option th:if="${clothesAd} == null"
                                    th:each="City : ${cityList}"
                                    th:value="${City.getName()}"
                                    th:text="${City.getName()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Ad Type</label>
                        <select name="type" class="form-control">
                            <option th:if="${clothesAd} != null"
                                    th:selected="${clothesAd.getType().name() == Type.name()}"
                                    th:each="Type : ${adTypeList}"
                                    th:value="${Type.name()}"
                                    th:text="${Type.name()}">
                            </option>
                            <option th:if="${clothesAd} == null"
                                    th:each="Type : ${adTypeList}"
                                    th:value="${Type.name()}"
                                    th:text="${Type.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Condition</label>
                        <select name="condition" class="form-control">
                            <option th:if="${clothesAd} != null"
                                    th:selected="${clothesAd.getCondition().name() == Condition.name()}"
                                    th:each="Condition : ${conditionList}"
                                    th:value="${Condition.name()}"
                                    th:text="${Condition.name()}">
                            </option>
                            <option th:if="${clothesAd} == null"
                                    th:each="Condition : ${conditionList}"
                                    th:value="${Condition.name()}"
                                    th:text="${Condition.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Is Exchange Possible</label>
                        <select name="isExchangePossible" class="form-control">
                            <option th:text="Yes"
                                    th:value="True">
                            </option>
                            <option th:text="No"
                                    th:value="False">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Is Delivery Possible</label>
                        <select name="isDeliveryPossible" class="form-control">
                            <option th:text="Yes"
                                    th:value="True">
                            </option>
                            <option th:text="No"
                                    th:value="False">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Type of Clothing</label>
                        <select name="typeClothing" class="form-control">
                            <option th:if="${clothesAd} != null"
                                    th:selected="${clothesAd.getTypeClothing().name() == Type.name()}"
                                    th:each="Type : ${typeClothingList}"
                                    th:value="${Type.name()}"
                                    th:text="${Type.name()}">
                            </option>
                            <option th:if="${clothesAd} == null"
                                    th:each="Type : ${typeClothingList}"
                                    th:value="${Type.name()}"
                                    th:text="${Type.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Size</label>
                        <select name="size" class="form-control">
                            <option th:if="${clothesAd} != null"
                                    th:selected="${clothesAd.getSize().name() == Size.name()}"
                                    th:each="Size : ${sizeList}"
                                    th:value="${Size.name()}"
                                    th:text="${Size.name()}">
                            </option>
                            <option th:if="${clothesAd} == null"
                                    th:each="Size : ${sizeList}"
                                    th:value="${Size.name()}"
                                    th:text="${Size.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="numSize">Number (Size) [in case the appropriate type of clothing does not have a number, enter it: 0]</label>
                        <input type="text"
                               class="form-control"
                               id="numSize"
                               name="numSize"
                               th:value="(${clothesAd} != null ? ${clothesAd.getNumSize()} : '')"
                               required
                               placeholder="NumSize">
                    </div>

                    <div class="form-group">
                        <label>Color</label>
                        <select name="color" class="form-control">
                            <option th:if="${clothesAd} != null"
                                    th:selected="${clothesAd.getColor().name() == Color.name()}"
                                    th:each="Color : ${colorList}"
                                    th:value="${Color.name()}"
                                    th:text="${Color.name()}">
                            </option>
                            <option th:if="${clothesAd} == null"
                                    th:each="Color : ${colorList}"
                                    th:value="${Color.name()}"
                                    th:text="${Color.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" rows="8" cols="50"
                                  class="form-control"
                                  th:text="(${clothesAd} != null ? ${clothesAd.getDescription()} : '')">
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="price">Price (euro)</label>
                        <input type="text"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${clothesAd} != null ? ${clothesAd.getPrice()} : '')"
                               required
                               placeholder="Price">
                    </div>

                    <div class="form-group">
                        <h3>Upload Images</h3>
                        <input type="file" id="files" name="files" multiple>
                        <br><br>
                    </div>

                    <br><br><br>

                    <button id="submit" type="submit" class="btn btn-primary">SUBMIT</button>
                    <a type="button" class="btn btn-primary" href="/add">BACK</a>
                </form>
            </div>
        </div>
    </div>


</th:block>
</html>