<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">PLEASE ENTER THE APPROPRIATE INFORMATION FOR THE SELECTED CATEGORY</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <form th:action="@{/ITEquipmentAd/add}" method="POST" enctype="multipart/form-data">
                    <input id="id" type="hidden" name="id" th:value="(${itEquipmentAd} != null ? ${itEquipmentAd.getId()} : '')">

                    <div class="form-group">
                        <label>Category</label>
                        <select name="categoryId" class="form-control">
                            <option th:selected="${category_1.getName()}"
                                    th:value="${category_1.getId()}"
                                    th:text="${category_1.getName()}">
                            </option>
                        </select>
                    </div>

                    <div>
                        <a type="button" class="btn btn-primary" href="/add">Select another category</a>
                        <br><br><br><br>
                    </div>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:value="(${itEquipmentAd} != null ? ${itEquipmentAd.getTitle()} : '')"
                               required
                               placeholder="Enter title to ad">
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        <select name="cityId" class="form-control">
                            <option th:if="${itEquipmentAd} != null"
                                    th:selected="${itEquipmentAd.getCity().getName() == City.getName()}"
                                    th:each="City : ${cityList}"
                                    th:value="${City.getName()}"
                                    th:text="${City.getName()}">
                            </option>
                            <option th:if="${itEquipmentAd} == null"
                                    th:each="City : ${cityList}"
                                    th:value="${City.getName()}"
                                    th:text="${City.getName()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Ad Type</label>
                        <select name="type" class="form-control">
                            <option th:if="${itEquipmentAd} != null"
                                    th:selected="${itEquipmentAd.getType().name() == Type.name()}"
                                    th:each="Type : ${adTypeList}"
                                    th:value="${Type.name()}"
                                    th:text="${Type.name()}">
                            </option>
                            <option th:if="${itEquipmentAd} == null"
                                    th:each="Type : ${adTypeList}"
                                    th:value="${Type.name()}"
                                    th:text="${Type.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Condition</label>
                        <select name="condition" class="form-control">
                            <option th:if="${itEquipmentAd} != null"
                                    th:selected="${itEquipmentAd.getCondition().name() == Condition.name()}"
                                    th:each="Condition : ${conditionList}"
                                    th:value="${Condition.name()}"
                                    th:text="${Condition.name()}">
                            </option>
                            <option th:if="${itEquipmentAd} == null"
                                    th:each="Condition : ${conditionList}"
                                    th:value="${Condition.name()}"
                                    th:text="${Condition.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Is Exchange Possible</label>
                        <select name="isExchangePossible" class="form-control">
                            <option th:text="Yes"
                                    th:value="True">
                            </option>
                            <option th:text="No"
                                    th:value="False">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Is Delivery Possible</label>
                        <select name="isDeliveryPossible" class="form-control">
                            <option th:text="Yes"
                                    th:value="True">
                            </option>
                            <option th:text="No"
                                    th:value="False">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>IT Brand</label>
                        <select name="brand" class="form-control">
                            <option th:if="${itEquipmentAd} != null"
                                    th:selected="${itEquipmentAd.getBrand().name() == Brand.name()}"
                                    th:each="Brand : ${itBrandList}"
                                    th:value="${Brand.name()}"
                                    th:text="${Brand.name()}">
                            </option>
                            <option th:if="${itEquipmentAd} == null"
                                    th:each="Brand : ${itBrandList}"
                                    th:value="${Brand.name()}"
                                    th:text="${Brand.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Processor Brand</label>
                        <select name="processor" class="form-control">
                            <option th:if="${itEquipmentAd} != null"
                                    th:selected="${itEquipmentAd.getProcessor().name() == BrandP.name()}"
                                    th:each="BrandP : ${processorBrandList}"
                                    th:value="${BrandP.name()}"
                                    th:text="${BrandP.name()}">
                            </option>
                            <option th:if="${itEquipmentAd} == null"
                                    th:each="BrandP : ${processorBrandList}"
                                    th:value="${BrandP.name()}"
                                    th:text="${BrandP.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="processorModel">Processor Model</label>
                        <input type="text"
                               class="form-control"
                               id="processorModel"
                               name="processorModel"
                               th:value="(${itEquipmentAd} != null ? ${itEquipmentAd.getProcessorModel()} : '')"
                               required
                               placeholder="Processor Model">
                    </div>

                    <div class="form-group">
                        <label>Type of Memory</label>
                        <select name="typeMemory" class="form-control">
                            <option th:if="${itEquipmentAd} != null"
                                    th:selected="${itEquipmentAd.getTypeMemory().name() == Type.name()}"
                                    th:each="Type : ${typeMemoryList}"
                                    th:value="${Type.name()}"
                                    th:text="${Type.name()}">
                            </option>
                            <option th:if="${itEquipmentAd} == null"
                                    th:each="Type : ${typeMemoryList}"
                                    th:value="${Type.name()}"
                                    th:text="${Type.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="memorySize">Memory Size (GB)</label>
                        <input type="text"
                               class="form-control"
                               id="memorySize"
                               name="memorySize"
                               th:value="(${itEquipmentAd} != null ? ${itEquipmentAd.getMemorySize()} : '')"
                               required
                               placeholder="MemorySize">
                    </div>

                    <div class="form-group">
                        <label for="ramMemorySize">RAM Memory Size (GB)</label>
                        <input type="text"
                               class="form-control"
                               id="ramMemorySize"
                               name="ramMemorySize"
                               th:value="(${itEquipmentAd} != null ? ${itEquipmentAd.getRamMemorySize()} : '')"
                               required
                               placeholder="RamMemorySize">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" rows="8" cols="50"
                                  class="form-control"
                                  th:text="(${itEquipmentAd} != null ? ${itEquipmentAd.getDescription()} : '')">
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="price">Price (euro)</label>
                        <input type="text"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${itEquipmentAd} != null ? ${itEquipmentAd.getPrice()} : '')"
                               required
                               placeholder="Price">
                    </div>

                    <div class="form-group">
                        <h3>Upload Images</h3>
                        <input type="file" id="files" name="files" multiple>
                        <br><br>
                    </div>

                    <br> <br> <br>

                    <button id="submit" type="submit" class="btn btn-primary">SUBMIT</button>
                    <a type="button" class="btn btn-primary" href="/add">BACK</a>
                </form>
            </div>
        </div>
    </div>


</th:block>
</html>