<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">PLEASE ENTER THE APPROPRIATE INFORMATION FOR THE SELECTED CATEGORY</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <form th:action="@{/VehicleAd/add}" method="POST" enctype="multipart/form-data">
                    <input id="id" type="hidden" name="id" th:value="(${vehicleAd} != null ? ${vehicleAd.getId()} : '')">

                    <div class="form-group">
                        <label>Category</label>
                        <select name="categoryId" class="form-control" >
                            <option th:selected="${category_1.getName()}"
                                    th:value="${category_1.getId()}"
                                    th:text="${category_1.getName()}">
                            </option>
                        </select>
                    </div>

                    <div>
                        <a type="button" class="btn btn-primary" href="/add">Select another category</a>
                        <br><br><br><br>
                    </div>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:value="(${vehicleAd} != null ? ${vehicleAd.getTitle()} : '')"
                               required
                               placeholder="Enter title to ad">
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        <select name="cityId" class="form-control">
                            <option th:if="${vehicleAd} != null"
                                    th:selected="${vehicleAd.getCity().getName() == City.getName()}"
                                    th:each="City : ${cityList}"
                                    th:value="${City.getName()}"
                                    th:text="${City.getName()}">
                            </option>
                            <option th:if="${vehicleAd} == null"
                                    th:each="City : ${cityList}"
                                    th:value="${City.getName()}"
                                    th:text="${City.getName()}">
                            </option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label>Ad Type</label>
                        <select name="type" class="form-control">
                            <option th:if="${vehicleAd} != null"
                                    th:selected="${vehicleAd.getType().name() == Type.name()}"
                                    th:each="Type : ${adTypeList}"
                                    th:value="${Type.name()}"
                                    th:text="${Type.name()}">
                            </option>
                            <option th:if="${vehicleAd} == null"
                                    th:each="Type : ${adTypeList}"
                                    th:value="${Type.name()}"
                                    th:text="${Type.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Condition</label>
                        <select name="condition" class="form-control">
                            <option th:if="${vehicleAd} != null"
                                    th:selected="${vehicleAd.getCondition().name() == Condition.name()}"
                                    th:each="Condition : ${conditionList}"
                                    th:value="${Condition.name()}"
                                    th:text="${Condition.name()}">
                            </option>
                            <option th:if="${vehicleAd} == null"
                                    th:each="Condition : ${conditionList}"
                                    th:value="${Condition.name()}"
                                    th:text="${Condition.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Is Exchange Possible</label>
                        <select name="isExchangePossible" class="form-control">
                            <option th:text="Yes"
                                    th:value="True">
                            </option>
                            <option th:text="No"
                                    th:value="False">
                            </option>
                        </select>
                    </div>

<!--                    <div class="form-group">-->
<!--                        <label>Is Delivery Possible</label>-->
<!--                        <select name="isDeliveryPossible" class="form-control">-->
<!--                            <option th:text="Yes"-->
<!--                                    th:value="True">-->
<!--                            </option>-->
<!--                            <option th:text="No"-->
<!--                                    th:value="False">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->

                    <div class="form-group">
                        <label>Car Brand</label>
                        <select name="brand" class="form-control">
                            <option th:if="${vehicleAd} != null"
                                    th:selected="${vehicleAd.getBrand().name() == car.name()}"
                                    th:each="car : ${carBrandList}"
                                    th:value="${car.name()}"
                                    th:text="${car.name()}">
                            </option>
                            <option th:if="${vehicleAd} == null"
                                    th:each="car : ${carBrandList}"
                                    th:value="${car.name()}"
                                    th:text="${car.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Color</label>
                        <select name="color" class="form-control">
                            <option th:if="${vehicleAd} != null"
                                    th:selected="${vehicleAd.getColor().name() == Color.name()}"
                                    th:each="Color : ${colorList}"
                                    th:value="${Color.name()}"
                                    th:text="${Color.name()}">
                            </option>
                            <option th:if="${vehicleAd} == null"
                                    th:each="Color : ${colorList}"
                                    th:value="${Color.name()}"
                                    th:text="${Color.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="yearMade">YearMade</label>
                        <input type="text"
                               class="form-control"
                               id="yearMade"
                               name="yearMade"
                               th:value="(${vehicleAd} != null ? ${vehicleAd.getYearMade()} : '')"
                               required
                               placeholder="YearMade">
                    </div>

                    <div class="form-group">
                        <label for="milesTraveled">MilesTraveled</label>
                        <input type="text"
                               class="form-control"
                               id="milesTraveled"
                               name="milesTraveled"
                               th:value="(${vehicleAd} != null ? ${vehicleAd.getMilesTraveled()} : '')"
                               required
                               placeholder="MilesTraveled">
                    </div>

                    <div class="form-group">
                        <label for="enginePower">EnginePower (kW)</label>
                        <input type="text"
                               class="form-control"
                               id="enginePower"
                               name="enginePower"
                               th:value="(${vehicleAd} != null ? ${vehicleAd.getEnginePower()} : '')"
                               required
                               placeholder="EnginePower">
                    </div>

                    <div class="form-group">
                        <label>Fuel</label>
                        <select name="fuel" class="form-control">
                            <option th:if="${vehicleAd} != null"
                                    th:selected="${vehicleAd.getFuel().name() == Fuel.name()}"
                                    th:each="Fuel : ${fuelList}"
                                    th:value="${Fuel.name()}"
                                    th:text="${Fuel.name()}">
                            </option>
                            <option th:if="${vehicleAd} == null"
                                    th:each="Fuel : ${fuelList}"
                                    th:value="${Fuel.name()}"
                                    th:text="${Fuel.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Gearbox</label>
                        <select name="gearbox" class="form-control">
                            <option th:if="${vehicleAd} != null"
                                    th:selected="${vehicleAd.getGearbox().name() == Gearbox.name()}"
                                    th:each="Gearbox : ${gearboxList}"
                                    th:value="${Gearbox.name()}"
                                    th:text="${Gearbox.name()}">
                            </option>
                            <option th:if="${vehicleAd} == null"
                                    th:each="Gearbox : ${gearboxList}"
                                    th:value="${Gearbox.name()}"
                                    th:text="${Gearbox.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Registration</label>
                        <select name="registration" class="form-control">
                            <option th:if="${vehicleAd} != null"
                                    th:selected="${vehicleAd.getRegistration().name() == Registration.name()}"
                                    th:each="Registration : ${registrationList}"
                                    th:value="${Registration.name()}"
                                    th:text="${Registration.name()}">
                            </option>
                            <option th:if="${vehicleAd} == null"
                                    th:each="Registration : ${registrationList}"
                                    th:value="${Registration.name()}"
                                    th:text="${Registration.name()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" rows="8" cols="50"
                                  class="form-control"
                                  th:text="(${vehicleAd} != null ? ${vehicleAd.getDescription()} : '')">
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="price">Price (euro)</label>
                        <input type="text"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${vehicleAd} != null ? ${vehicleAd.getPrice()} : '')"
                               required
                               placeholder="Price">
                    </div>

                    <div class="form-group">
                        <h3>Upload Images</h3>
                        <input type="file" id="files" name="files" multiple>
                        <br><br>
                    </div>

                    <br><br><br>

                    <button id="submit" type="submit" class="btn btn-primary">SUBMIT</button>
                    <a type="button" class="btn btn-primary" href="/add">BACK</a>
                </form>
            </div>
        </div>
    </div>


</th:block>
</html>