
<tr>
    <td>Brand</td>
    <td th:text="${ad.getBrand()}"></td>
</tr>
<tr>
    <td>Color</td>
    <td th:text="${ad.getColor()}"></td>
</tr>
<tr>
    <td>Engine Power (kW)</td>
    <td th:text="${ad.getEnginePower()}"></td>
</tr>
<tr>
    <td>Fuel</td>
    <td th:text="${ad.getFuel()}"></td>
</tr>
<tr>
    <td>Gearbox</td>
    <td th:text="${ad.getGearbox()}"></td>
</tr>
<tr>
    <td>Miles Travelled</td>
    <td th:text="${ad.getMilesTraveled()}"></td>
</tr>
<tr>
    <td>Registration</td>
    <td th:text="${ad.getRegistration()}"></td>
</tr>
<tr>
    <td>Year made</td>
    <td th:text="${ad.getYearMade()}"></td>
</tr>
