
<tr>
    <td>Quadrature</td>
    <td th:text="${ad.getQuadrature()}"></td>
</tr>
<tr>
    <td>Has Basement</td>
    <td th:if="${ad.isHasBasement()}">Yes</td>
    <td th:if="${!ad.isHasBasement()}">No</td>
</tr>
<tr>
    <td>Heating</td>
    <td th:text="${ad.getHeating()}"></td>
</tr>
<tr>
    <td>Number of floors</td>
    <td th:text="${ad.getNumFloors()}"></td>
</tr>
<tr>
    <td>Number of rooms</td>
    <td th:text="${ad.getNumRooms()}"></td>
</tr>
<tr>
    <td>Yard area</td>
    <td th:text="${ad.getYardArea()}"></td>
</tr>
<tr>
    <td>Year made</td>
    <td th:text="${ad.getYearMade()}"></td>
</tr>
