
<tr>
    <td>Quadrature</td>
    <td th:text="${ad.getQuadrature()}"></td>
</tr>
<tr>
    <td>Floor</td>
    <td th:text="${ad.getFloor()}"></td>
</tr>
<tr>
    <td>Has Basement</td>
    <td th:if="${ad.isHasBasement()}">Yes</td>
    <td th:if="${!ad.isHasBasement()}">No</td>
</tr>
<tr>
    <td>Has Pasking Spot</td>
    <td th:if="${ad.isHasParkingSpot()}">Yes</td>
    <td th:if="${!ad.isHasParkingSpot()}">No</td>
</tr>
<tr>
    <td>Has Elevator</td>
    <td th:if="${ad.isHasElevator()}">Yes</td>
    <td th:if="${!ad.isHasElevator()}">No</td>
</tr>
<tr>
    <td>Heating</td>
    <td th:text="${ad.getHeating()}"></td>
</tr>
<tr>
    <td>Number of floors</td>
    <td th:text="${ad.getNumFloors()}"></td>
</tr>
<tr>
    <td>Number of rooms</td>
    <td th:text="${ad.getNumRooms()}"></td>
</tr>
<tr>
    <td>Year made</td>
    <td th:text="${ad.getYearMade()}"></td>
</tr>
