<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" style="height: 60px">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/ads/invalidateFilters}">ADSTER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" th:href="@{/ads/invalidateFilters}"><i
                                class="fa-solid fa-table-list"></i> Ads</a>
                    </li>

                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item m-auto">
                            <a class="nav-link active" href="/categories"><i class="fa-solid fa-table-list"></i>
                                Categories</a>
                        </li>
                    </th:block>

                    <li class="nav-item m-auto" sec:authorize="isAuthenticated() && hasRole('ROLE_USER')">
                        <a class="btn btn-primary btn-sm ml-5" href="/savedAds"><i class="fa-solid fa-floppy-disk"></i>
                            Saved ads</a>
                    </li>

                    <li class="nav-item m-auto" sec:authorize="isAuthenticated() && hasRole('ROLE_USER')">
                        <a class="btn btn-primary btn-sm ml-5" href="/myAds"><i class="fa-solid fa-image-portrait"></i>
                            My ads</a>
                    </li>

                    <li class="nav-item m-auto" sec:authorize="isAuthenticated() && hasRole('ROLE_USER')">
                        <a class="btn btn-primary btn-sm ml-5" href="/add"><i class="fa-solid fa-plus"></i> Add new
                            ad</a>
                    </li>
                </ul>

                <form class="form-inline my-5 my-lg-0 row justify-content-center align-items-center" th:if="${#httpServletRequest.requestURI} == '/ads' or ${#httpServletRequest.requestURI} == '/'"
                      th:action="@{${categoryName} + '/filter'}">
                    <div class="select-group select-group-sm mr-1 input-group-sm">
                        <select name="categoryId" class="form-control">
                            <option th:text="Category"
                                    value=""></option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.getId()}"
                                    th:text="${category.getName()}"
                                    th:selected="${categoryId != null and category.getId() == categoryId}">
                            </option>
                        </select>
                    </div>
                    <div class="select-group-append mr-4 ">
                        <button type="submit" class="btn btn-sm btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-success btn-sm ml-3" href="/profile">
                            <i class="fa-solid fa-user"></i> Profile
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i class="fa-solid fa-right-to-bracket"></i> Login
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid my-3" th:if="${#httpServletRequest.requestURI} == '/ads' or ${#httpServletRequest.requestURI} == '/'" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <form class="form-inline my-5 my-lg-0 row justify-content-center align-items-center mr-3"
          th:action="@{${categoryName} + '/filter'}">

        <div class="container">
            <div class="row w-100 m-0 justify-content-center text-center">

                <div class="select-group select-group-sm input-group-sm col">
                    <select name="type" class="form-control">
                        <option th:text="AdType"
                                value=""></option>
                        <option th:each="type : ${T(mk.ukim.finki.wpproject.model.enums.AdType).values()}"
                                th:value="${type.name()}"
                                th:text="${type.name()}">
                        </option>
                    </select>
                </div>

                <div class="input-group input-group-sm col">
                    <input type="text" class="form-control" aria-label="Small"
                           aria-describedby="inputGroup-sizing-sm"
                           th:name="title"
                           placeholder="Search...">
                </div>

                <input type="hidden" name="categoryId" th:value="${categoryId}">

                <div class="select-group select-group-sm input-group-sm col">
                    <select name="cityId" class="form-control">
                        <option th:text="City"
                                value=""></option>
                        <option th:each="city : ${cities}"
                                th:value="${city.getName()}"
                                th:text="${city.getName()}">
                        </option>
                    </select>
                </div>

                <div class="input-group input-group-sm col">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-euro-sign"></i></span>
                    </div>
                    <input name="priceFrom" type="text" class="form-control" placeholder="Price from">
                </div>

                <div class="input-group input-group-sm col">
                    <input name="priceTo" type="text" class="form-control" placeholder="Price to">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa-solid fa-euro-sign"></i></span>
                    </div>
                </div>
            </div>

            <div th:if="${filterContent != null}" class="row w-100 m-0 justify-content-center text-center">
                <div th:replace="${filterContent}"></div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row justify-content-center w-25 m-auto">
                    <button type="submit" class="btn btn-success btn-block">
                        <h5 class="m-0"><i class="fa fa-search mr-2"></i> Filter</h5>
                    </button>
            </div>
        </div>

    </form>
</div>
