
<div class="row mt-3">
    <div class="input-group input-group-sm col">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-caret-right"></i></span>
        </div>
        <input name="quadratureFrom" type="text" class="form-control" placeholder="Quadrature From">
    </div>

    <div class="input-group input-group-sm col">
        <input name="quadratureTo" type="text" class="form-control" placeholder="Quadrature To">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fa-solid fa-caret-left"></i></span>
        </div>
    </div>
</div>
