<div class="input-group input-group-sm">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa-solid fa-euro-sign"></i></span>
    </div>
    <input name="quadratureFrom" type="text" class="form-control" placeholder="Quadrature From">
</div>

<div class="input-group input-group-sm">
    <input name="quadratureTo" type="text" class="form-control" placeholder="Quadrature To">
    <div class="input-group-append">
        <span class="input-group-text"><i class="fa-solid fa-euro-sign"></i></span>
    </div>
</div>
