
<div class="row mt-3">
    <div class="select-group select-group-sm input-group-sm col">
        <select name="carBrand" class="form-control">
            <option th:text="CarBrand"
                    value=""></option>
            <option th:each="brand : ${T(mk.ukim.finki.wpproject.model.enums.CarBrand).values()}"
                    th:value="${brand.name()}"
                    th:text="${brand.name()}">
            </option>
        </select>
    </div>

    <div class="select-group select-group-sm input-group-sm col">
        <select name="fuel" class="form-control">
            <option th:text="Fuel"
                    value=""></option>
            <option th:each="fuell : ${T(mk.ukim.finki.wpproject.model.enums.Fuel).values()}"
                    th:value="${fuell.name()}"
                    th:text="${fuell.name()}">
            </option>
        </select>
    </div>

    <div class="select-group select-group-sm input-group-sm col">
        <select name="color" class="form-control">
            <option th:text="Color"
                    value=""></option>
            <option th:each="collor : ${T(mk.ukim.finki.wpproject.model.enums.Color).values()}"
                    th:value="${collor.name()}"
                    th:text="${collor.name()}">
            </option>
        </select>
    </div>

    <div class="select-group select-group-sm input-group-sm col">
        <select name="gearbox" class="form-control">
            <option th:text="Gearbox"
                    value=""></option>
            <option th:each="gearboxx : ${T(mk.ukim.finki.wpproject.model.enums.Gearbox).values()}"
                    th:value="${gearboxx.name()}"
                    th:text="${gearboxx.name()}">
            </option>
        </select>
    </div>

    <div class="select-group select-group-sm input-group-sm col">
        <select name="registration" class="form-control">
            <option th:text="Registration"
                    value=""></option>
            <option th:each="registrationn : ${T(mk.ukim.finki.wpproject.model.enums.Registration).values()}"
                    th:value="${registrationn.name()}"
                    th:text="${registrationn.name()}">
            </option>
        </select>
    </div>
</div>

<div class="row w-100 mt-3">
    <div class="input-group input-group-sm col">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-caret-right"></i></span>
        </div>
        <input name="yearMadeFrom" type="text" class="form-control" placeholder="Year Made From">
    </div>

    <div class="input-group input-group-sm col">
        <input name="yearMadeTo" type="text" class="form-control" placeholder="Year Made To">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fa-solid fa-caret-left"></i></span>
        </div>
    </div>

    <div class="input-group input-group-sm col">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-caret-right"></i></span>
        </div>
        <input name="enginePowerFrom" type="text" class="form-control" placeholder="Engine Power From">
    </div>

    <div class="input-group input-group-sm col">
        <input name="enginePowerTo" type="text" class="form-control" placeholder="Engine Power To">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fa-solid fa-caret-left"></i></span>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="input-group input-group-sm col">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-caret-right"></i></span>
        </div>
        <input name="milesTraveledFrom" type="text" class="form-control" placeholder="Miles Traveled From">
    </div>

    <div class="input-group input-group-sm col">
        <input name="milesTraveledTo" type="text" class="form-control" placeholder="Miles Traveled To">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fa-solid fa-caret-left"></i></span>
        </div>
    </div>
</div>
