<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">PLEASE ENTER THE CORRESPONDENT INFORMATION FOR THE NEW CATEGORY</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <form th:action="@{/categories/add}" method="POST" enctype="multipart/form-data">
                    <input id="id" type="hidden" name="id" th:value="(${category} != null ? ${category.getId()} : '')">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               th:value="(${category} != null ? ${category.getName()} : '')"
                               required
                               placeholder="Enter name to category">
                    </div>


                    <div class="form-group">
                        <label for="parentCategory">Parent Category</label>
                        <select name="parentCategoryId" class="form-control" id="parentCategory">
                            <option th:text="Category" th:value="''">
                            </option>
                            <option th:each="category: ${categories}"
                                    th:value="${category.getId()}"
                                    th:text="${category.getName()}">
                            </option>
                        </select>
                    </div>

                    <br> <br> <br>

                    <button id="submit" type="submit" class="btn btn-primary">ADD CATEGORY</button>
                    <a type="button" class="btn btn-primary" href="/categories">BACK</a>
                </form>
            </div>
        </div>
    </div>


</th:block>
</html>