<!--&#45;&#45; MAIN PAGE &#45;&#45;-->

<div th:onload="${#session.setAttribute('commentContent', '')}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-12" th:if="${adsSize > 0}">
                <div class="container">
                    <div class="table">
                        <div class="row mt-5" th:each="ad : ${adPage}">
                            <div class="col-6">
                                <div th:if="${ad.getImages().size() > 0}" class="row justify-content-center">
                                    <img class="d-block w-100"
                                         th:src="@{'/images/' + ${ad.getImages().get(0).getName()}}"
                                         alt="Image"
                                         height="300px"
                                         style="max-width: 100%; object-fit: contain;">
                                </div>
                                <div th:if="${ad.getImages().size() <= 0}" class="row justify-content-center">
                                    <div class="bg-secondary text-white row text-center justify-content-center w-75"
                                         style="height: 250px">
                                        <h1 class="m-auto">No Images</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-start">
                                <div class="row">
                                    <h1 class="col-12 text-center" th:text="${ad.getTitle()}"></h1>
                                    <div class="col">
                                        <i class="fa-solid fa-location-dot"></i> <span class="h5" th:text="${ad.getCity().getName()}"></span>
                                        <h5 class="mt-1">Price: <span class="h5" th:text="${ad.getPrice()}"></span><span> <i class="fa-solid fa-euro-sign"></i></span></h5>
                                    </div>
                                    <div class="col text-right">
                                        <p class="m-0"
                                           th:text="${#temporals.format(ad.getDateCreated(), 'dd-MM-yyyy')}"></p>
                                        <p th:text="${#temporals.format(ad.getDateCreated(), 'HH:mm')}"></p>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col text-left">
                                        <p class="h6">Category: <span class="h6" th:text="${ad.getCategory().getName()}"></span>
                                        </p>
                                        <p th:if="${ad.isDeliveryPossible()}"><i class="fa-solid fa-truck"></i> Delivery Possible</p>
                                        <p th:if="${ad.isExchangePossible()}"><i class="fa-solid fa-arrows-rotate"></i> Exchange Possible</p>
                                    </div>
                                    <div class="col text-right">
                                        <p class="h6">User: <span class="h6" th:text="${ad.getAdvertisedByUser().getUsername()}"></span></p>
                                        <p>Type: <span th:text="${ad.getType()}"></span></p>
                                        <p th:if="${ad.getCondition()} != null">Condition: <span th:text="${ad.getCondition()}"></span></p>
                                        <th:block sec:authorize="hasRole('ROLE_USER')">
                                            <form th:action="@{'/save/{id}' (id=${ad.getId()})}" th:method="post"
                                                  sec:authorize="isAuthenticated()">
                                                <button type="submit"
                                                        class="btn btn-sm btn-primary">
                                                    <i class="fa-solid fa-floppy-disk"></i> Save  </i>
                                                    <span class="badge badge-light" th:text=" ${ad.getSavedByUsers().size()} "></span>
                                                </button>
                                            </form>
                                        </th:block>
                                    </div>
                                </div>
                                <a class="btn btn-primary" type="button" th:href="@{'/ads/{id}' (id = ${ad.getId()})}">See Details</a>
                            </div>
                            <div class="container mt-2">
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div th:if="${adPage.totalPages > 0}" class="row justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${adPage.number == 0} ? disabled">
                        <a class="page-link"
                           th:href="@{/ads(size=${adPage.size}, page=${adPage.number}, categoryId=${categoryId})}">Previous</a>
                    </li>
                    <li th:each="pageNumber : ${pageNumbers}" class="page-item"
                        th:classappend="${pageNumber==adPage.number + 1} ? active">
                        <a th:href="@{/ads(size=${adPage.size}, page=${pageNumber}, categoryId=${categoryId})}"
                           th:text="${pageNumber}"
                           class="page-link"></a>
                    </li>
                    <li class="page-item" th:classappend="${adPage.number + 1 == adPage.totalPages} ? disabled">
                        <a class="page-link"
                           th:href="@{/ads(size=${adPage.size}, page=${adPage.number + 2}, categoryId=${categoryId})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
