<div class="container rounded bg-white mt-5 mb-5" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <form th:action="@{/profile/edit}" th:method="POST">
        <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <input class="font-weight-bold" style="border: 0px solid; background-color: transparent; height: 20px; width: 160px; color: #CCC;" th:name="username" th:value="${user} ? ${user.getUsername()} : 'asd'"></input>
                <input class="text-black-50" style="border: 0px solid; background-color: transparent; height: 20px; width: 160px; color: #CCC;" th:name="email" th:value="${user} ? ${user.getEmail()} : 'asd'"></input>
            </div>
        </div>
        <div class="col-md-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" th:name="name" th:value="${user != null} ? ${user.getName()} : ''"></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" th:name="surname" th:value="${user != null} ? ${user.getSurname()} : ''" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" th:name="phoneNumber" th:value="${user != null} ? ${user.getPhoneNumber()} : ''"></div>
<!--                    <div class="col-md-12"><label class="labels">City</label><input type="text" class="form-control" placeholder="enter city" th:value="${user != null} ? ${user.getCity()} : ''"></div>-->
                    <div class="col-md-12 mt-3"><label class="labels">Role</label><input type="text" class="form-control" placeholder="" th:value="${user != null} ? ${user.getRole()} : ''" readonly></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
        </div>
        </div>
    </form>
</div>
</div>
</div>