<!--&#45;&#45; MAIN PAGE &#45;&#45;-->

<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
            <h3 class="jumbotron-heading">All ads</h3>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${adsSize > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">City</th>
                            <th scope="col">Category</th>
                            <th scope="col">Select Ad</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="ad : ${adPage}" class="product">
                            <td th:text="${ad.getTitle()}"></td>
                            <td th:text="${ad.getDescription()}"></td>
                            <td th:text="${ad.getPrice()}"></td>
                            <td th:text="${ad.getCity() != null}
                            ? ${ad.getCity().getName()} : 'No City'"></td>
                            <td th:text="${ad.getCategory() != null}
                            ? ${ad.getCategory().getName()} : 'No Category'"></td>
                            <td>
                                <a th:href="@{'/ads/{id}' (id = ${ad.getId()})}"> Click to view more
                                </a>
                            </td>
                            <td>
                                <th:block sec:authorize="hasRole('ROLE_USER')">
                                    <form th:action="@{'/save/{id}' (id=${ad.getId()})}" th:method="post"
                                          sec:authorize="isAuthenticated()">
                                        <button type="submit"
                                                class="btn btn-sm btn-primary">
                                            <i class="fa-solid fa-floppy-disk"></i> Save</i>
                                        </button>
                                    </form>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:if="${adPage.totalPages > 0}" class="row justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${adPage.number == 0} ? disabled">
                        <a class="page-link" th:href="@{/ads(size=${adPage.size}, page=${adPage.number})}">Previous</a>
                    </li>
                    <li th:each="pageNumber : ${pageNumbers}" class="page-item" th:classappend="${pageNumber==adPage.number + 1} ? active">
                        <a th:href="@{/ads(size=${adPage.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           class="page-link"></a>
                    </li>
                    <li class="page-item" th:classappend="${adPage.number + 1 == adPage.totalPages} ? disabled">
                        <a class="page-link" th:href="@{/ads(size=${adPage.size}, page=${adPage.number + 2})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
